$star-container-dimension: 10px;
$star-ray-count: 5;
$star-ray-container: $star-container-dimension * 0.8;
$star-ray-width: $star-ray-container * 0.15;
$star-ray-color: lightblue, aqua, yellow, gold, cornsilk;

.stars-container {
    @extend %center-div;
}

.star-grid {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 200px;
    // box-shadow: inset 0 0 1px 0 white;
}

.star {
    position: absolute;
    left: 0%;
    top: 0%;
    width: $star-ray-container;
    height: $star-ray-container;
    color: white;

    .ray {
        @extend %ray;
        border-bottom: $star-ray-container/2 solid;
        border-left: $star-ray-width solid transparent;
        border-right: $star-ray-width solid transparent;

        @include calculate-ray-angles($star-ray-count);
    }
}

// Create colored stars
@for $i from 1 through length($star-ray-color) {
    .star-#{$i} {
        color: nth($star-ray-color, $i);
    }
}
