%center-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

$moon-container-dimension: 200px;
$moon-color: #949494;
$shadow-opacity: 0.8;
$shadow-time-length: 5s;

@mixin right-start {
    width: $moon-container-dimension;
    right: 0;
}

@mixin right-end {
    right: 100%;
    width: 0;
}

@mixin left-start {
    left: 100%;
    width: 0;
}

@mixin left-end {
    left: 0;
    width: $moon-container-dimension;
}

@keyframes light-to-shadow-right {
    25%, 100% {
        @include right-end;
    }
}

@keyframes light-to-shadow-left {
    0%, 25% {
        @include left-start;
    }
    50%, 100% {
        @include left-end;
    }
}

@keyframes shadow-to-light-right {
    0%, 50% {
        @include right-start;
    }
    75%, 100% {
        @include right-end;
    }
}

@keyframes shadow-to-light-left {
    0%, 75% {
        @include left-start;
    }
    100% {
        @include left-end;
    }
}

.apod__loading {
    height: 100%;
    width: 100%;

    &.hide {
        @extend %hide;
    }

    .loading-container {
        @extend %center-div;
        width: $moon-container-dimension;
        height: $moon-container-dimension;
        transform: rotate3d(0,0,1,-5deg);
    }

    .moon-container {
        @extend %center-div;
        border-radius: 50%;
        background: $moon-color;
        box-shadow: 4px 0px 15px 0px grey;

        .moon {
            position: absolute;
            border-radius: 50%;
            width: $moon-container-dimension;
            height: $moon-container-dimension;

            &.light-to-shade {
                background: $moon-color;
            }
            &.shade-to-light {
                background: black;
                opacity: $shadow-opacity;
            }
        }

        // Masks
        .mask-right,
        .mask-left {
            position: absolute;
            width: $moon-container-dimension/2;
            height: $moon-container-dimension;
            overflow: hidden;
        }

        // Right Side
        .mask-right,
        .mask-right .moon {
            right: 0;
        }

        // Left Side
        .mask-left,
        .mask-left .moon {
            left: 0;
        }

        .mask-right {
            // 1st
            .light-to-shade {
                animation: $shadow-time-length linear light-to-shadow-right infinite;
            }

            // 3rd
            .shade-to-light {
                animation: $shadow-time-length linear shadow-to-light-right infinite;
            }
        }

        .mask-left {
            // 2nd
            .shade-to-light {
                animation: $shadow-time-length linear light-to-shadow-left infinite;
            }

            //4th
            .light-to-shade {
                animation: $shadow-time-length linear shadow-to-light-left infinite;
            }
        }
    }
}
