.apod__date-picker {
    $date-dimension: 500px;
    display: block;
    position: absolute;
    z-index: 10;
    width: $date-dimension;
    height: $date-dimension;
    bottom: 0; //-$date-dimension/2;
    left: 0; //-$date-dimension/2;
    border-radius: 50%;
    background-color: #333;
    color: white;

    .date-val {
        font-size: 18px;
        @include calculate-ray-angles(31);
        position: absolute;
        top: ($date-dimension/2) - 21px;
        width: $date-dimension;
        box-sizing: border-box;
        .num {
            transform: rotate3d(0,0,1,-87deg);
            display: inline-block;
            text-align: center;
            width: 25px;
            &.current {
                background-color: red;    
            }
        }
    }
}

