.apod__date-picker {
    $date-dimension: 500px;
    display: block;
    position: absolute;
    z-index: 10;
    width: $date-dimension;
    height: $date-dimension;
    bottom: -$date-dimension/2;
    left: -$date-dimension/2;
    border-radius: 50%;
    background-color: #333;
    color: white;

    .date-val {
        font-size: 18px;
        @include calculate-ray-angles(31);
        position: absolute;
        top: ($date-dimension/2) - 20px;
        width: $date-dimension;
        padding-left: 10px;
        box-sizing: border-box;
        .num {
            transform: rotate3d(0,0,1,-84deg);
            display: inline-block;
            width: 0;
        }
    }
}
