$drawer-width: 400px;

.apod__drawer {
    position: absolute;
    z-index: 1000;
    top: 80px;
    right: 0;
    width: $drawer-width;
    height: 80vh;
    transform: translate3d($drawer-width,0px,0px);
    transition: 0.4s transform ease-out;

    &.show {
        transform: translate3d(0px,0px,0px);
    }

    .apod__drawer-tabs {
        position: absolute;
        top: 465px;
        height: 35px;
        width: 500px;
        box-sizing: border-box;
        transform: rotate(-90deg);
        transform-origin: left bottom;
        display: flex;
        flex-direction: row-reverse;

        .default-tabs,
        .apod__know-more {
            display: flex;
            justify-content: flex-end;
            align-content: flex-start;
            align-items: flex-start;
        }

        .tab {
            @include apod-button;
            margin-left: 2px;
            min-width: 100px;
            height: 100%;
            cursor: pointer;
            text-align: center;
            padding-top: 11px;
            box-sizing: border-box;

            &.is-open {
                background-color: $light-gray;
                color: $gray;
            }
        }
    }

    .apod__drawer-view {
        @include helvetica-neue-light;
        position: relative;
        padding: 10px;
        background-color: $light-gray;
        height: auto;
        min-height: 400px;
        height: 100%;
        width: $drawer-width;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: scroll;

        h1, h2 {
            text-align: center;
            margin: 0 0 5px 0;
            font-weight: 400;
        }

        .explanation {
            text-align: left;

            .external-links,
            #apod-explanation {
                font-size: 14px;
                margin-bottom: 10px;
                text-rendering: optimizeLegibility;

                a {
                    color: white;
                    & + a {
                        margin-left: 5px;
                    }
                }
            }
        }

        .favorites {
            margin-bottom: 20px;

            ul#drawer-list {
                clear: both;
                width: 100%;

                .no-favorites {
                    text-align: center;
                    width: 100%;
                }

                .favorite {
                    position: relative;
                    cursor: pointer;
                    width: 100%;
                    margin-bottom: 10px;


                    .remove-favorite {
                        @include apod-button;
                        cursor: pointer;
                        position: absolute;
                        bottom: 10px;
                        right: 10px;
                        padding: 2px 6px;
                        font-size: 11px;
                    }

                    .favorite__image {
                        float: left;
                        margin-right: 10px;

                        .favorite__image-image {
                            width: 125px;
                            height: 70px;
                            background-color: black;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                    }
                    .favorite__title {
                        float: left;
                        width: 240px;

                        .favorite__title-date,
                        .favorite__title-title {
                            margin: 0;
                        }
                        &:hover {
                            color: $gray;
                        }
                    }
                }
            }
        }
    }
}
