.apod__drawer {
    $drawer-width: 400px;
    position: absolute;
    z-index: 1000;
    top: 60px;
    right: 0;
    height: 80vh;
    transform: translate3d($drawer-width,0px,0px);
    transition: 0.4s transform ease-out;

    .apod__drawer-tabs {
        position: absolute;
        top: 157px;
        left: -193px;
        width: 350px;
        height: 35px;
        text-align: right;
        box-sizing: border-box;
        transform: rotate(-90deg);

        .tab {
            @include apod-button;
            float: right;
            margin-left: 2px;
            width: 100px;
            height: 100%;
            cursor: pointer;
            text-align: center;
            padding-top: 11px;
            box-sizing: border-box;

            &.is_open {
                background-color: $light-gray;
                color: $gray;
            }
        }
    }

    .apod__drawer-view {
        position: relative;
        text-align: center;
        padding: 10px;
        background-color: $light-gray;
        height: 100%;
        width: $drawer-width;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: scroll;

        .explanation {
            @include helvetica-neue-light;
            text-align: left;
            padding: 10px;

            .external-links,
            #apod-explanation {
                font-size: 14px;
                margin-bottom: 10px;
                text-rendering: optimizeLegibility;

                a {
                    color: white;
                    & + a {
                        margin-left: 5px;
                    }
                }
            }
        }

        ul#drawer-list {
            display: block;

            .favorite {
                display: block;
                cursor: pointer;
                width: 300px;
                margin: 0 auto;
                margin-bottom: 10px;
                &:hover {
                    .favorite__title {
                        color: $gray;
                    }
                }
                .favorite__image {
                    width: 200px;
                    height: 100px;
                    margin: 0 auto;
                    background-color: black;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .favorite__title {
                    margin: 0;
                }
            }
        }
        .clear-all {
            @include apod-button;
            position: absolute;
            bottom: 10px;
            right: 10px;
            padding: 5px 10px
        }
    }

    h1 {
        text-align: center;
        display: inline-block;
        font-weight: 400;
    }

    &.show {
        transform: translate3d(0px,0px,0px);
    }
}
