.apod__drawer {
    $drawer-width: 400px;
    position: absolute;
    z-index: 1000;
    top: 60px;
    right: 0;
    height: 80vh;
    transform: translate3d($drawer-width,0px,0px);
    transition: 0.25s transform ease-out;

    .apod__drawer-tabs {
        position: absolute;
        top: 97px;
        left: -133px;
        width: 230px;
        height: 35px;
        text-align: right;
        box-sizing: border-box;
        transform: rotate3d(0,0,1,-90deg);

        .tab {
            float: right;
            margin-left: 2px;
            background-color: yellow;
            width: 100px;
            height: 100%;
            cursor: pointer;
            text-align: center;
            padding-top: 11px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            box-sizing: border-box;
        }
    }

    .apod__drawer-view {
        padding: 10px;
        background-color: $light-gray;
        height: 100%;
        width: $drawer-width;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: scroll;

        ul#drawer-list {
            display: block;

            .favorite {
                display: block;
                cursor: pointer;
                &:hover {
                    background-color: #C7C7C7;
                }
                .favorite__image {
                    width: 200px;
                    height: 100px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: left center;
                }
                .favorite__title {

                }
            }
        } 
    }

    h1 {
        text-align: center;
        display: inline-block;
    }

    &.show {
        transform: translate3d(0px,0px,0px);
    }
}
