$gray: rgba(#333333, 0.8);
$light-gray: rgba(#C7C7C7, 0.8);

@mixin helvetica-neue-light($weight:300) {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: $weight;
}

@mixin border-radii($start, $end:$start) {
    border-top-left-radius:     $start;
    border-bottom-right-radius: $start;

    border-top-right-radius:    $end;
    border-bottom-left-radius:  $end;

    transition: 0.4s border-radius linear;
}

@mixin apod-button {
    background-color: $gray;
    color: $light-gray;
    @include border-radii(2px);

    &.hover,
    &:hover {
        background-color: lighten($gray, 20%);
        @include border-radii(0);
    }
}
