$gray: #333333;
$light-gray: #C7C7C7;
$know-more-list-bg-color: rgba(51, 51, 51, 0.8);

@mixin helvetica-neue-light($weight:300) {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: $weight;
}

@mixin border-radii($start, $end) {
    border-top-left-radius:     $start;
    border-bottom-right-radius: $start;

    border-top-right-radius:    $end;
    border-bottom-left-radius:  $end;
}

@mixin apod-button {
    background: $gray;
    color: $light-gray;

    &:hover {
        background: lighten($gray, 30%);
    }
}

@import 'options';

@keyframes fade {
    0% {
        -webkit-filter: grayscale(1);
        opacity: 0.5;
    }
    100% {
        -webkit-filter: none;
    }
}

body {
    background: black;
    margin: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.loading {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;

    .image {
        background: url('../images/Crab_Nebula.jpg') center center no-repeat;
        background-size: 15%;
        height: 100%;
        width: 100%;
        animation: fade 1s infinite alternate ease-in-out;
    }

    .filter {
        -webkit-filter: grayscale(1);
    }
}

.hide {
    opacity: 0;
    height: 0;
    width: 0;
}

.top-sites {
    color: white;
    position: fixed;
    top: 10;
    left: 10;
    z-index: 1000;
    opacity: 0.8;
    transition: 0.1s linear all;

    &:hover {
        opacity: 1;
    }

    #topSites {
        ul li a {
            @include apod-button;
            display: inline-block;
            padding: 10px;
            transition: 0.2s linear all;

            .thumb-img{
                width: 16px;
                height: 16px;
                display: block;
            }

        }
        ul li + li {
            margin-left: 10px;
        }
    }
}

.body-image,
.body-video {
    height: 100%;
    width: 100%;
    display: none;
}

.body-video {
    text-align: center;
    padding-top: 20vh;
    box-sizing: border-box;
}

.body-image {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
}

#want-to-know-more {
    position: absolute;
    top: 30vh;
    right: 10px;

    ul li {
        @include apod-button;
        display: block;
        cursor: pointer;
        width: 300px;
        margin-bottom: 10px;
        background-color: $know-more-list-bg-color;
        transition: 0.5s opacity linear,
            0.2s background-color linear,
            0.2s border-radius linear,
            0.2s height linear;
        padding: 10px;
        box-sizing: border-box;

        h4, a {
            display: block;
            margin: 0;
            color: inherit;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            line-height: 2;
        }
    }
}

.container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    max-width: 1600px;
    margin: 0 auto;

    h1 {
        display: inline-block;
        margin: 0;
        @include helvetica-neue-light(100);
    }

    h2 {
        margin: 0;
        color: #757575;
        @include helvetica-neue-light;
    }

    .nav-buttons {
        position: absolute;
        right: 10;
        bottom: 10;
        ul li {
            color: $gray;
            text-align: center;
            &:nth-child(2) {
                margin-right: 50px;
            }
            a {
                @include apod-button;
                transition: 0.2s linear all;
                display: block;
                min-width: 65px;
                padding: 10px;
                cursor: pointer;
            }
        }
    }

    p#apod-copyright,
    .external-links {
        margin-right: 5px;
        color: white;
    }

    .description {
        @include helvetica-neue-light;
        position: absolute;
        bottom: 0;
        padding: 0 10px;
        height: 100%;
        width: 750px;
        max-width: 100%;
        color: white;
        background-color: rgba(0,0,0,0);
        overflow-y: hidden;
        transition: 0.6s all ease-in-out;

        div {
            font-size: 13px;
            margin: 10px 0 0 0;
        }

        #img-quality {
            display: inline-block;
            font-size: 13px;
            background: $gray;
            color: black;
            margin-left: 10px;
            padding: 0 5px;
            border-radius: 3px;
        }
    }

    .description:hover,
    .show-description {
        height: 230px;
        padding: 10px;
        background-color: rgba(0,0,0,0.8);
        overflow-y: scroll;
    }
}
