@import 'variables';
@import 'options';
@import 'drawer';

.hide {
    @extend %hide;
}

.apod__loading {
    @include sun-loader;
    @include moon-loader;
}

body {
    background: black;
    margin: 0;
    overflow: hidden;
}

ul, li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.apod {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.apod__error {
    color: white;
    font-size: 18px;
    margin-top: 200px;
    text-align: center;
}

.apod__header {
    position: absolute;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;

    h1 {
        @include helvetica-neue-light(100);
        display: inline-block;
        margin: 0;
    }

    h2 {
        @include helvetica-neue-light;
        margin: 0;
        color: #757575;
    }

    .description {
        @include helvetica-neue-light;
        position: absolute;
        right: 20px;
        top: 0;
        padding: 10px;
        width: auto;
        height: auto;
        color: white;
        transition: 0.2s opacity ease-out;

        .title {
            position: relative;

            #img-quality {
                display: inline-block;
                font-size: 14px;
                color: #757575;
                margin-left: 10px;
            }
        }

        .nav-buttons {
            display: block;
            li {
                margin-right: 15px;
                color: $light-gray;
                transition: 0.2s linear background-color;
                cursor: pointer;

                &.hover,
                &:hover {
                    color: lighten($gray, 20%);
                }

                &:active {
                    color: gold;
                }
            }
        }
    }

    .apod__top-sites {
        float: left;
        color: white;
        opacity: 0.6;
        transition: 0.1s opacity linear;

        &:hover {
            opacity: 1;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            align-items: flex-start;

            li {
                margin-bottom: 10px;
                & + li {
                    margin-left: 10px;
                }
                a {
                    @include apod-button;
                    display: inline-block;
                    padding: 10px;

                    .thumb-img{
                        width: 16px;
                        height: 16px;
                        display: block;
                    }
                }
            }
        }
    }
}

.apod__image,
.apod__video {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.apod__video {
    text-align: center;
    padding-top: 20vh;
    box-sizing: border-box;
}

.apod__image {
    background-position: center center;
    background-repeat: no-repeat;
}


.keyword {
    color: lightblue;
    font-weight: bold;
}
