$size-px: 200px;
$transform: $size-px / 2;

.scene {
    @include flexCenter;
    perspective: 800px;
    height: 100vh;
    width: 100%;
    background-color: #101010;
    &:hover {
        transform: scale(1.5);

        .side {
            opacity: 1;
        }
    }  
}

.cube {
    transform-style: preserve-3d;
    position: relative;
    width: $size-px;
    height: $size-px;
    animation: rotate 10s linear infinite;
    transform-origin: center center;
}

.side {
    position: absolute;
    width: $size-px;
    height: $size-px;
    background-color: $black;
    opacity: 0.99;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow:  inset 0 0 3px 3px $gray;
}

.back {
    transform: translateZ(-#{$transform}) rotateX(180deg);
    background-image: url('https://apod.nasa.gov/apod/image/1309/EquinoxEarthElektroL800.jpg'); // earth
}

.left {
    transform: translateX(-#{$transform}) rotateY(90deg);
    background-image: url('https://apod.nasa.gov/apod/image/1405/marsglobe_viking_960.jpg'); // mars
}

.right {
    transform: translateX($transform) rotateY(90deg);
    background-image: url('https://apod.nasa.gov/apod/image/1707/mercuryflyby2_messenger_960.jpg'); // mercury
}

.top {
    transform: translateY(-#{$transform}) rotateX(90deg);
    background-image: url('https://apod.nasa.gov/apod/image/9904/fullmoon_lick.jpg'); // moon
}

.bottom {
    transform: translateY($transform) rotateX(270deg);
    background-image: url('https://apod.nasa.gov/apod/image/1409/saturnequinox_cassini_960.jpg'); // saturn 
}

.front {
    transform: translateZ($transform);
    background-image: url('https://apod.nasa.gov/apod/image/0205/m31_gendler.jpg'); // andromeda
}

@keyframes rotate {
    0% { transform: rotateX(-35deg) rotateY(0deg) rotateZ(0deg)}
    100% { transform: rotateX(325deg) rotateY(360deg) rotateZ(0deg)}
}
