$black: #111111;
$gray: rgba(#333333, 0.8);
$light-gray: rgba(#C7C7C7, 0.8);
$highlight-blue: rgb(96, 187, 218);

@mixin helvetica-neue-light($weight:300) {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: $weight;
}

@mixin apod-button {
    background-color: $gray;
    color: $light-gray;
    transition: 0.1s linear background-color;

    &.hover,
    &:hover {
        background-color: lighten($gray, 20%);
    }
}

@mixin calculate-ray-angles($count, $offset:0) {
    @for $i from 0 through $count {
        $angle: $i * 360/$count + $offset;

        &:nth-child(#{$i + 1})  {
            transform: rotate3d(0, 0, 1, #{$angle}deg);
            transform-origin: bottom;
        }
    }
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

%hide {
    opacity: 0;
    height: 0;
    width: 0;
}

%hide-display {
    display: none;
}

%center-div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

%ray {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    right: 0;
    margin: auto;    
    border-top: 0 solid transparent;
    transform-origin: bottom;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

ul, li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

@import 'apod_loading_sun';
@import 'apod_loading_moon';
