@import "../../node_modules/flatpickr/dist/themes/dark.css";
@import "variables";
@import "drawer";

.hide {
  @extend %hide;
}

.apod__loading {
  @include sun-loader;
  @include moon-loader;
  @import "apod_loading_cube";
}

.spin-loader {
  width: 16px;
  height: 16px;
  background: url("/images/ajax-loader-black.gif");
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes slide {
  0% {
    background-position: -100% 100%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.load-title {
  @include flexCenter;
  height: 100vh;
  width: 100vw;
  color: $gray;

  .title-container {
    text-align: center;

    p {
      font-size: 32px;
      font-weight: 700;
    }
  }

  h1 {
    font-size: 40px;
    margin: 0;

    animation: slide 10s infinite linear;
    background: url("https://apod.nasa.gov/apod/image/0706/rosette_torregrosa.jpg");
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-shadow: none;

    span {
      @include helvetica-neue-light;
      font-size: 55%;
    }
  }
}

body {
  background: $black; /* Old browsers */
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.bg-contain {
  background-size: contain;
}

.bg-cover {
  background-size: cover;
}

.bg-auto {
  background-size: auto;
}

.cover-vertical {
  opacity: 0.3;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

.apod__error {
  @extend %center-div;
  color: white;
  font-size: 18px;
  margin-top: 200px;
  text-align: center;
}

.apod__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  z-index: 1000;

  .explanation {
    $explanation-width: 400px;
    @include helvetica-neue-light;
    width: auto;
    min-width: $explanation-width;
    box-sizing: border-box;
    color: white;
    padding: 10px 20px;
    transition: 0.2s ease-out opacity, 0.2s linear background-color;
    border-radius: 3px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    .title {
      position: relative;

      h1 {
        @include helvetica-neue-light;
        display: inline-block;
        margin: 0;
      }

      h2 {
        @include helvetica-neue-light;
        margin: 0;
        color: #757575;
        transition: 0.1s linear color;

        &:hover {
          color: white;
        }

        &:after {
          content: "\25be";
          color: inherit;
          margin-left: 3px;
          vertical-align: 1px;
        }
      }

      #img-quality {
        display: inline-block;
        font-size: 14px;
        color: #757575;
        margin-left: 10px;
      }
    }

    .nav-buttons {
      float: right;
      width: $explanation-width;

      li {
        margin-right: 15px;
        color: $light-gray;
        transition: 0.2s linear background-color;
        cursor: pointer;
        font-size: 12px;

        &.hide {
          @extend %hide-display;
        }

        &.current,
        span.favorite {
          color: $highlight-blue;
          font-weight: 600;
        }

        span.hide {
          @extend %hide-display;
        }

        &.hover,
        &:hover {
          color: lighten($gray, 20%);
        }

        &:active {
          color: gold;
        }
      }
    }
  }

  .apod__top-sites {
    padding-top: 10px;

    ul {
      display: flex;
      justify-content: flex-start;

      li + li {
        margin-left: 20px;
      }

      li {
        @include flexCenter;
        cursor: pointer;

        a {
          @include apod-button;
          display: inline-block;
          background-color: transparent;
          padding: 6px;

          .thumb-img {
            display: block;
            width: 16px;
            height: 16px;
          }
        }

        &:hover {
          a {
            background-color: $light-gray;
          }
        }
      }
    }
  }
}

.apod-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  .apod__image {
    @include flexCenter;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    &.hide {
      @extend %hide-display;
    }
  }

  .apod__image {
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.keyword {
  color: $highlight-blue;
  font-weight: bold;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
