@import "variables";

@keyframes LoadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.history {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding: $title-padding;
  gap: 5px 10px;
}

.history__thumb {
  position: relative;
  display: flex;
  justify-content: center;

  .history__thumb-title {
    opacity: 0;
    position: absolute;
    top: 0;
    color: $light-gray;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    transition: 0.15s ease-in-out all;
  }

  &:hover {
    z-index: 5;
    .history__thumb-title {
      opacity: 1;
      transform: translateY(-30px);
      span {
        background: $black;
        padding: 5px;
      }
    }
    .history__thumb-image {
      transform: scale(2);
    }
  }
}

.history__thumb-border {
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  min-width: 40px;
  height: 30px;
  transition: 0.15s ease-in-out all;
  cursor: pointer;

  &.active-date {
    border-color: $light-gray;
  }
}

.history__thumb-image {
  background: $black;
  display: flex;
  justify-content: center;
  padding: 1px;
  box-sizing: border-box;
  height: 100%;
  transition: 0.15s ease-in-out transform;

  &.loading {
    background: linear-gradient(54deg, #253a69, transparent);
    background-size: 400% 400%;

    animation: LoadingAnimation 3s ease infinite;
  }

  img {
    max-height: 100%;
  }
}
