.history {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  width: 100%;
  padding: 15px;
  overflow-x: scroll;
}

.history__thumb-border + .history__thumb-border {
  margin-left: 10px;
}

.history__thumb-border {
  background-color: $black;
  min-width: 40px;
  height: 30px;
  transition: 0.15s ease-in-out all;
  padding: 1px;
  cursor: pointer;

  &.active-date {
    background-color: $light-gray;
  }

  &:hover {
    height: 65px;
  }
}

@keyframes LoadingAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.history__thumb {
  background: black;
  display: flex;
  justify-content: center;
  padding: 1px;
  box-sizing: border-box;
  height: 100%;

  &.loading {
    background: linear-gradient(54deg, #1f2e4e, #003a50);
    background-size: 400% 400%;

    animation: LoadingAnimation 5s ease infinite;
  }

  img {
    max-height: 100%;
  }
}
