.hide {
  opacity: 0;
  height: 0;
  width: 0; }

.apod__loading .sun-container, .apod__loading .rays-big, .apod__loading .rays-small, .apod__loading .sun-light, .apod__loading .moon-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.apod__loading .rays-big .ray, .apod__loading .rays-small .ray {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-top: 0 solid transparent;
  transform-origin: bottom; }

.apod-options {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  width: 275px;
  color: rgba(51, 51, 51, 0.8); }
  .apod-options #choose-apod .info,
  .apod-options #choose-apod .inputs {
    display: inline-block; }
  .apod-options #choose-apod .info {
    width: 200px;
    margin: 10px 0; }
  .apod-options #choose-apod .inputs input[type='radio'] {
    display: none; }
  .apod-options #choose-apod .inputs label {
    width: 60px;
    box-sizing: border-box;
    display: block;
    text-align: center;
    background: rgba(186, 186, 186, 0.8);
    color: rgba(135, 135, 135, 0.8);
    padding: 5px;
    transition: 0.2s linear all;
    cursor: pointer; }
    .apod-options #choose-apod .inputs label:hover {
      color: rgba(51, 51, 51, 0.8); }
  .apod-options #choose-apod .inputs input[type='radio']:checked + label {
    cursor: default;
    background: #ffff33;
    color: rgba(51, 51, 51, 0.8); }

.apod__drawer {
  position: absolute;
  z-index: 1000;
  top: 60px;
  right: 0;
  height: 80vh;
  transform: translate3d(400px, 0px, 0px);
  transition: 0.4s transform ease-out; }
  .apod__drawer .apod__drawer-tabs {
    position: absolute;
    top: 157px;
    left: -193px;
    width: 350px;
    height: 35px;
    text-align: right;
    box-sizing: border-box;
    transform: rotate(-90deg); }
    .apod__drawer .apod__drawer-tabs .tab {
      background-color: rgba(51, 51, 51, 0.8);
      color: rgba(199, 199, 199, 0.8);
      transition: 0.2s linear background-color;
      float: right;
      margin-left: 2px;
      width: 100px;
      height: 100%;
      cursor: pointer;
      text-align: center;
      padding-top: 11px;
      box-sizing: border-box; }
      .apod__drawer .apod__drawer-tabs .tab.hover, .apod__drawer .apod__drawer-tabs .tab:hover {
        background-color: rgba(102, 102, 102, 0.8); }
      .apod__drawer .apod__drawer-tabs .tab.is_open {
        background-color: rgba(199, 199, 199, 0.8);
        color: rgba(51, 51, 51, 0.8); }
  .apod__drawer .apod__drawer-view {
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: rgba(199, 199, 199, 0.8);
    height: 100%;
    width: 400px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll; }
    .apod__drawer .apod__drawer-view .explanation {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-weight: 300;
      text-align: left;
      padding: 10px; }
      .apod__drawer .apod__drawer-view .explanation .external-links,
      .apod__drawer .apod__drawer-view .explanation #apod-explanation {
        font-size: 14px;
        margin-bottom: 10px;
        text-rendering: optimizeLegibility; }
        .apod__drawer .apod__drawer-view .explanation .external-links a,
        .apod__drawer .apod__drawer-view .explanation #apod-explanation a {
          color: white; }
          .apod__drawer .apod__drawer-view .explanation .external-links a + a,
          .apod__drawer .apod__drawer-view .explanation #apod-explanation a + a {
            margin-left: 5px; }
    .apod__drawer .apod__drawer-view ul#drawer-list {
      display: block; }
      .apod__drawer .apod__drawer-view ul#drawer-list .favorite {
        display: block;
        cursor: pointer;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 10px; }
        .apod__drawer .apod__drawer-view ul#drawer-list .favorite:hover .favorite__title {
          color: rgba(51, 51, 51, 0.8); }
        .apod__drawer .apod__drawer-view ul#drawer-list .favorite .favorite__image {
          width: 200px;
          height: 100px;
          margin: 0 auto;
          background-color: black;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center; }
        .apod__drawer .apod__drawer-view ul#drawer-list .favorite .favorite__title {
          margin: 0; }
    .apod__drawer .apod__drawer-view .clear-all {
      background-color: rgba(51, 51, 51, 0.8);
      color: rgba(199, 199, 199, 0.8);
      transition: 0.2s linear background-color;
      position: absolute;
      bottom: 10px;
      right: 10px;
      padding: 5px 10px; }
      .apod__drawer .apod__drawer-view .clear-all.hover, .apod__drawer .apod__drawer-view .clear-all:hover {
        background-color: rgba(102, 102, 102, 0.8); }
  .apod__drawer h1 {
    text-align: center;
    display: inline-block;
    font-weight: 400; }
  .apod__drawer.show {
    transform: translate3d(0px, 0px, 0px); }

@keyframes clockwise-spin {
  0% {
    transform: rotate3d(0, 0, 1, 0deg); }
  100% {
    transform: rotate3d(0, 0, 1, 360deg); } }
@keyframes counter-clockwise-spin {
  0% {
    transform: rotate3d(0, 0, 1, 360deg); }
  100% {
    transform: rotate3d(0, 0, 1, 0deg); } }
.apod__loading .sun-container {
  width: 100px;
  height: 100px; }
.apod__loading .rays-big {
  width: 80px;
  height: 80px;
  animation: clockwise-spin 20s infinite linear; }
  .apod__loading .rays-big .ray {
    border-bottom: 40px solid orange;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent; }
    .apod__loading .rays-big .ray:nth-child(1) {
      transform: rotate3d(0, 0, 1, 0deg);
      transform-origin: bottom; }
    .apod__loading .rays-big .ray:nth-child(2) {
      transform: rotate3d(0, 0, 1, 30deg);
      transform-origin: bottom; }
    .apod__loading .rays-big .ray:nth-child(3) {
      transform: rotate3d(0, 0, 1, 60deg);
      transform-origin: bottom; }
    .apod__loading .rays-big .ray:nth-child(4) {
      transform: rotate3d(0, 0, 1, 90deg);
      transform-origin: bottom; }
    .apod__loading .rays-big .ray:nth-child(5) {
      transform: rotate3d(0, 0, 1, 120deg);
      transform-origin: bottom; }
    .apod__loading .rays-big .ray:nth-child(6) {
      transform: rotate3d(0, 0, 1, 150deg);
      transform-origin: bottom; }
    .apod__loading .rays-big .ray:nth-child(7) {
      transform: rotate3d(0, 0, 1, 180deg);
      transform-origin: bottom; }
    .apod__loading .rays-big .ray:nth-child(8) {
      transform: rotate3d(0, 0, 1, 210deg);
      transform-origin: bottom; }
    .apod__loading .rays-big .ray:nth-child(9) {
      transform: rotate3d(0, 0, 1, 240deg);
      transform-origin: bottom; }
    .apod__loading .rays-big .ray:nth-child(10) {
      transform: rotate3d(0, 0, 1, 270deg);
      transform-origin: bottom; }
    .apod__loading .rays-big .ray:nth-child(11) {
      transform: rotate3d(0, 0, 1, 300deg);
      transform-origin: bottom; }
    .apod__loading .rays-big .ray:nth-child(12) {
      transform: rotate3d(0, 0, 1, 330deg);
      transform-origin: bottom; }
    .apod__loading .rays-big .ray:nth-child(13) {
      transform: rotate3d(0, 0, 1, 360deg);
      transform-origin: bottom; }
.apod__loading .rays-small {
  width: 70px;
  height: 70px;
  animation: counter-clockwise-spin 15s infinite linear; }
  .apod__loading .rays-small .ray {
    border-bottom: 35px solid yellow;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent; }
    .apod__loading .rays-small .ray:nth-child(1) {
      transform: rotate3d(0, 0, 1, 0deg);
      transform-origin: bottom; }
    .apod__loading .rays-small .ray:nth-child(2) {
      transform: rotate3d(0, 0, 1, 45deg);
      transform-origin: bottom; }
    .apod__loading .rays-small .ray:nth-child(3) {
      transform: rotate3d(0, 0, 1, 90deg);
      transform-origin: bottom; }
    .apod__loading .rays-small .ray:nth-child(4) {
      transform: rotate3d(0, 0, 1, 135deg);
      transform-origin: bottom; }
    .apod__loading .rays-small .ray:nth-child(5) {
      transform: rotate3d(0, 0, 1, 180deg);
      transform-origin: bottom; }
    .apod__loading .rays-small .ray:nth-child(6) {
      transform: rotate3d(0, 0, 1, 225deg);
      transform-origin: bottom; }
    .apod__loading .rays-small .ray:nth-child(7) {
      transform: rotate3d(0, 0, 1, 270deg);
      transform-origin: bottom; }
    .apod__loading .rays-small .ray:nth-child(8) {
      transform: rotate3d(0, 0, 1, 315deg);
      transform-origin: bottom; }
    .apod__loading .rays-small .ray:nth-child(9) {
      transform: rotate3d(0, 0, 1, 360deg);
      transform-origin: bottom; }
.apod__loading .sun-light {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: gold;
  background: radial-gradient(ellipse at center, #fefcea 0%, gold 60%); }
@keyframes light-to-shadow-right {
  25%, 100% {
    right: 100%;
    width: 0; } }
@keyframes light-to-shadow-left {
  0%, 25% {
    left: 100%;
    width: 0; }
  50%, 100% {
    left: 0;
    width: 70px; } }
@keyframes shadow-to-light-right {
  0%, 50% {
    width: 70px;
    right: 0; }
  75%, 100% {
    right: 100%;
    width: 0; } }
@keyframes shadow-to-light-left {
  0%, 75% {
    left: 100%;
    width: 0; }
  100% {
    left: 0;
    width: 70px; } }
.apod__loading .moon-container {
  width: 70px;
  height: 70px;
  transform: rotate3d(0, 0, 1, -5deg);
  border-radius: 50%;
  background: #949494;
  box-shadow: 4px 0px 15px 0px grey; }
  .apod__loading .moon-container .moon {
    position: absolute;
    border-radius: 50%;
    width: 70px;
    height: 70px; }
    .apod__loading .moon-container .moon.light-to-shade {
      background: #949494; }
    .apod__loading .moon-container .moon.shade-to-light {
      background: black;
      opacity: 0.85; }
  .apod__loading .moon-container .mask-right,
  .apod__loading .moon-container .mask-left {
    position: absolute;
    width: 35px;
    height: 70px;
    overflow: hidden; }
  .apod__loading .moon-container .mask-right,
  .apod__loading .moon-container .mask-right .moon {
    right: 0; }
  .apod__loading .moon-container .mask-left,
  .apod__loading .moon-container .mask-left .moon {
    left: 0; }
  .apod__loading .moon-container .mask-right .light-to-shade {
    animation: 5s linear light-to-shadow-right infinite; }
  .apod__loading .moon-container .mask-right .shade-to-light {
    animation: 5s linear shadow-to-light-right infinite; }
  .apod__loading .moon-container .mask-left .shade-to-light {
    animation: 5s linear light-to-shadow-left infinite; }
  .apod__loading .moon-container .mask-left .light-to-shade {
    animation: 5s linear shadow-to-light-left infinite; }

body {
  background: black;
  margin: 0;
  overflow: hidden; }

ul, li {
  margin: 0;
  padding: 0;
  display: inline-block; }

.loading-spinner {
  height: 24px;
  width: 24px;
  display: inline-block;
  background: url("../images/ajax-loader-white.gif") center center no-repeat;
  background-size: 70%;
  margin-left: 5px; }
  .loading-spinner.hide {
    display: none; }

.apod {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

.apod__header {
  position: absolute;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 10px;
  box-sizing: border-box; }

.apod__top-sites {
  float: left;
  width: 40%;
  color: white;
  opacity: 0.6;
  transition: 0.1s opacity linear; }
  .apod__top-sites:hover {
    opacity: 1; }
  .apod__top-sites ul {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start; }
    .apod__top-sites ul li {
      margin: 0 5px 10px; }
      .apod__top-sites ul li a {
        background-color: rgba(51, 51, 51, 0.8);
        color: rgba(199, 199, 199, 0.8);
        transition: 0.2s linear background-color;
        display: inline-block;
        padding: 10px; }
        .apod__top-sites ul li a.hover, .apod__top-sites ul li a:hover {
          background-color: rgba(102, 102, 102, 0.8); }
        .apod__top-sites ul li a .thumb-img {
          width: 16px;
          height: 16px;
          display: block; }

.apod__know-more {
  float: right;
  width: 60%; }
  .apod__know-more ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: flex-start; }
    .apod__know-more ul li {
      background-color: rgba(51, 51, 51, 0.8);
      color: rgba(199, 199, 199, 0.8);
      transition: 0.2s linear background-color;
      margin: 0 5px 10px;
      text-align: center;
      display: inline-block;
      cursor: pointer;
      min-width: 110px;
      max-width: 180px;
      padding: 6px 10px;
      box-sizing: border-box;
      transition: 0.5s opacity linear, 0.2s background-color linear; }
      .apod__know-more ul li.hover, .apod__know-more ul li:hover {
        background-color: rgba(102, 102, 102, 0.8); }
      .apod__know-more ul li .know-links {
        text-align: left; }
      .apod__know-more ul li h4, .apod__know-more ul li .know-links a {
        display: block;
        margin: 0;
        color: inherit;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        line-height: 2; }
      .apod__know-more ul li h4 {
        display: inline-block; }

.apod__image,
.apod__video {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: none; }

.apod__video {
  text-align: center;
  padding-top: 20vh;
  box-sizing: border-box; }

.apod__image {
  background-position: center center;
  background-repeat: no-repeat; }

.keyword {
  color: lightblue;
  font-weight: bold; }

.apod__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  margin: 0 auto; }
  .apod__footer h1 {
    display: inline-block;
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100; }
  .apod__footer h2 {
    margin: 0;
    color: #757575;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300; }
  .apod__footer .nav-buttons {
    position: absolute;
    bottom: 10;
    right: 0; }
    .apod__footer .nav-buttons ul li {
      color: rgba(51, 51, 51, 0.8);
      text-align: center;
      margin-right: 15px;
      float: left; }
      .apod__footer .nav-buttons ul li a {
        background-color: rgba(51, 51, 51, 0.8);
        color: rgba(199, 199, 199, 0.8);
        transition: 0.2s linear background-color;
        display: block;
        min-width: 65px;
        padding: 10px;
        cursor: pointer; }
        .apod__footer .nav-buttons ul li a.hover, .apod__footer .nav-buttons ul li a:hover {
          background-color: rgba(102, 102, 102, 0.8); }
  .apod__footer .description {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    height: 250px;
    width: 750px;
    max-width: 100%;
    color: white;
    background-color: transparent; }
    .apod__footer .description #img-quality {
      display: inline-block;
      font-size: 14px;
      background: rgba(51, 51, 51, 0.8);
      color: black;
      margin-left: 10px;
      padding: 0 5px;
      border-radius: 3px; }

/*# sourceMappingURL=style.css.map */
