.apod-options {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  width: 275px;
  color: #333333; }
  .apod-options #choose-apod .info,
  .apod-options #choose-apod .inputs {
    display: inline-block; }
  .apod-options #choose-apod .info {
    width: 200px;
    margin: 10px 0; }
  .apod-options #choose-apod .inputs input[type='radio'] {
    display: none; }
  .apod-options #choose-apod .inputs label {
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 60px;
    box-sizing: border-box;
    display: block;
    text-align: center;
    background: #bababa;
    color: #878787;
    padding: 5px;
    transition: 0.2s linear all;
    cursor: pointer; }
    .apod-options #choose-apod .inputs label:hover {
      color: #333333; }
  .apod-options #choose-apod .inputs input[type='radio']:checked + label {
    cursor: default;
    background: #ffff33;
    color: #333333; }

body {
  background: black;
  margin: 0; }

ul, li {
  margin: 0;
  padding: 0;
  display: inline-block; }

.hide {
  opacity: 0; }

.top-sites {
  color: white;
  position: fixed;
  top: 10;
  left: 10;
  z-index: 1000;
  opacity: 0.6;
  transition: 0.2s linear all; }
  .top-sites:hover {
    opacity: 1; }
  .top-sites #typedUrl ul li a {
    display: inline-block;
    background: #333333;
    color: white;
    padding: 15px;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    transition: 0.2s linear all; }
    .top-sites #typedUrl ul li a .thumb-img {
      width: 16px;
      height: 16px;
      display: block; }
    .top-sites #typedUrl ul li a:hover {
      background: #C7C7C7;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0; }
  .top-sites #typedUrl ul li + li {
    margin-left: 10px; }

.loading {
  background: url("../images/ajax-loader.gif") center center no-repeat !important;
  background-size: auto;
  height: 32px;
  width: 32px; }

.body-image,
.body-video,
.container {
  float: left; }

.body-image,
.body-video {
  min-height: 95%;
  width: 100%; }

.body-video {
  text-align: center;
  padding-top: 20vh;
  box-sizing: border-box; }

.body-image {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat; }

.container {
  position: relative;
  width: 100%;
  height: 5%;
  max-width: 1600px;
  margin: 0 auto; }
  .container h1 {
    display: inline-block;
    margin: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100; }
  .container h2 {
    margin: 0;
    color: #757575;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300; }
  .container .nav-buttons {
    position: absolute;
    right: 10;
    bottom: 10; }
    .container .nav-buttons ul li {
      color: #333333;
      text-align: center; }
      .container .nav-buttons ul li:nth-child(2) {
        margin-right: 50px; }
    .container .nav-buttons a {
      display: block;
      background: #333333;
      color: #C7C7C7;
      min-width: 65px;
      padding: 10px;
      cursor: pointer;
      border-top-left-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      transition: 0.2s linear all; }
      .container .nav-buttons a.hover, .container .nav-buttons a:hover {
        background: #C7C7C7;
        color: #333333; }
  .container p#apod-copyright,
  .container .external-links {
    margin: 0 5px;
    color: white; }
  .container .description {
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 1000px;
    max-width: 100%;
    color: white;
    background-color: transparent;
    margin: 0 0 7px 20px;
    overflow-y: hidden;
    transition: 0.6s ease-in-out all;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300; }
    .container .description p {
      font-size: 16px; }
    .container .description #img-quality {
      display: inline-block;
      font-size: 13px;
      background: #333333;
      color: black;
      margin-left: 10px;
      padding: 0 5px;
      border-radius: 3px; }
  .container .description:hover,
  .container .show-description {
    height: 300px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-y: scroll; }

/*# sourceMappingURL=style.css.map */
